<script type="text/javascript"> 
    var url_search_ajax_comune = "{{path('geo_search_comune_database')}}";
    var url_search_ajax = '';
    var url_geocode = '{{ path('geo_geocode') }}';
    var url_param = {slug: 'centro-coordinamento-smaltimento-rifiuti-industriali'};
    var fb = {%if fb != "" %} true{%else%}false{%endif%};
</script>
{% javascripts
    '@ESWebBundle/Resources/public/js/es/jquery.nuvolainput.js'
    '@ESOperatoriBundle/Resources/public/js/form_preventivi_cer.js'
 %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% stylesheets 
    "@ESCerMapBundle/Resources/public/css/NuvolaInput/nuvola-input-rdo.css"  
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<div class="form_ok" style="display:none">La Sua richiesta è stata spedita correttamente</div>                    
<div id="form-container-showroom">    
    <form class="rdo-form p_input margin-top-10" action="{{ path('invio_richiesta_form_rdo', {'slug' : 'centro-coordinamento-smaltimento-rifiuti-industriali'}) }}" style="width: 630px;" id="rdo" method="post" {{ form_enctype(form) }}  onsubmit="return false;">
        <div class='form_voice_orizz clearfix margin-bottom-5'>
            {{ form_label(form.testo) }}
            {{ form_errors(form.testo) }}
            {{ form_widget(form.testo, {'attr': {'style': 'width: 608px; height: 175px', 'placeholder': 'Specifica in modo esauriente l\'intervento ambientale, il servizio o il rifiuto che devi smaltire.'}}) }}
        </div>
        <span id="more_cer_rdo" class="margin-left-5 hover vert-open padding-right-20 text-lightblue">Specifica la condizione fisica e il Codice CER</span>  
        <div class="more_information_rdo" style="display:none">        
            <div class="clearer ten"></div>
            {% include 'ESCerMapBundle:Coordinamento:preventivi/maggiori_informazioniRDO.html.twig' %}    
            <div class="clearer twenty"></div>
        </div>   
        <div class="no-text shadow-row"></div>
        <div class="clearer ten"></div>
        <div class='form_voice_compact clearfix left'>
            {{ form_label(form.from_nome) }}
            <i>ad es. Mario</i>
            {{ form_errors(form.from_nome) }}
            {{ form_widget(form.from_nome) }}
        </div>
        <div class='form_voice_compact clearfix right'>
            {{ form_label(form.from_cognome) }}
            <i>ad es. Rossi</i>
            {{ form_errors(form.from_cognome) }}
            {{ form_widget(form.from_cognome) }}
        </div>
        {% include 'ESCerMapBundle:Coordinamento:preventivi/userRDO.html.twig' %} 
        {{ form_rest(form) }} {#CSRF#}
            <div class="clearer twenty"></div>
        <button type="submit" class="button-orange large" id="submit_form_preventivo">{{ 'invia_richiesta'|trans({}, 'messages') }}</button>
    </form>    
</div>        
