{% extends "::base.html.twig" %}

{% block javascript_ready %}
    $.backstretch("/bundles/esweb/images/bg_generic.jpg", {speed: 1500});
    marker_pos({% if  app.user %}'#menu_showroom'{% endif %});
{% endblock %}


{% block javascript %}
{% javascripts
    '@ESOperatoriBundle/Resources/public/js/cambio_password.js'
       %}   
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
var first = '';
</script>
{% endblock %}
{% block content %}
    <section class="margin-10" >
        <section class="fixed-width padding-10 clearfix gradient-light shadow rounded-5" style="width: 450px;">
            <h1>Cambia Password </h1> 
            <div class="clearer ten"></div>
            <div class="hr-light"></div>
            <div class="clearer ten"></div>
            <div class="form-default">
                <form  method="post" class="p_input recover-form" action="{{path('salva_password_profilo')}}" {{ form_enctype(form_password) }} id="form_modifica_password_profilo">
                    <div class="form-section">
                        {{ form_errors(form_password) }}
                        {#{ form_widget(form_password) }#}
                        <table>
                            <tr id="password_corrente">
                                <td>{{ form_label(form_password.current_password) }}</td>
                                <td>{{ form_widget(form_password.current_password) }}</td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form_password.plainPassword.first) }}</td>
                                <td>{{ form_widget(form_password.plainPassword.first) }}</td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form_password.plainPassword.second) }}</td>
                                <td>{{ form_widget(form_password.plainPassword.second) }}</td>
                            </tr>
                            <tr>
                                <td>{{ form_rest(form_password) }}</td>
                                <td><button type="submit" class="button-orange" id="submit_password">{{ 'salva'|trans({}, 'messages') }}</button></td>
                            </tr>
                        </table>
                    </div>
                </form>
                <a href="{{path('op_sr_my')}}"><p style="display: none"  class="smaller" id="redirect_showroom">Vai al tuo showroom</p></a>
            </div>
        </section>
    </section>
{% endblock content %}