<footer>
    {#<div id="footer">
        <p>{{ 'footer.copyright'|trans({}, 'footer') }} - {{ 'footer.partita_iva'|trans({}, 'footer') }}
            - 
            <a href="{{ path('terms_cond') }}">{{ 'menu.terms_cond'|trans({}, 'menu') }}</a>
            - 
            <a href="{{ path('come_funziona') }}">{{ 'menu.scopri_di_piu'|trans({}, 'menu') }}</a>
        </p>
    </div>#}
</footer>
