<footer>
    <div id="footer_content" class="clearfix">
        <ul class="menu">
            <li class="double">
                <h3 class="text-shadow-down normal">I tuoi obiettivi</h3>
                <ul class="submenu">
                    {% include ':parts:header/menu/submenu_ebusiness/obiettivi.html.twig' %}
                </ul>
            </li>
            <li>
                <h3 class="text-shadow-down normal">Categorie servizi</h3>
                <ul class="submenu">
                    {% include ':parts:header/menu/submenu_ebusiness/categorie_servizi.html.twig' %}
                </ul>
            </li>
            <li class="double">
                <h3 class="text-shadow-down normal">Servizi in dettaglio</h3>
                <ul class="submenu">
                    {% include ':parts:header/menu/submenu_ebusiness/dettaglio_servizi.html.twig' %}
                </ul>
            </li>
            <li>
                <h3 class="text-shadow-down normal">Soluzioni Eco-Marketing</h3>
                <ul class="submenu">
                    {% include ':parts:header/menu/submenu_ebusiness/ecomarketing.html.twig' %}
                </ul>
            </li>
            <li>
                <h3 class="text-shadow-down normal">Servizi Theenq | [think]</h3>
                <ul class="submenu">
                    {% include ':parts:header/menu/submenu_ebusiness/theenq.html.twig' %}
                </ul>
            </li>
            <li>
                <h3 class="text-shadow-down normal">{{ 'menu.seguici'|trans({}, 'menu') }}:</h3>
                <ul class="submenu">
                    <li><a class="account_small twitter_access_small no-margin left" href="https://twitter.com/EcoSeekrItalia" target="_blank">Twitter</a></li>
                    <li><a class="account_small facebook_access_small no-margin left" href="https://www.facebook.com/pages/EcoSeekr-Italia-Srl/271423612925957" target="_blank">Facebook</a></li>
                </ul>
            </li>
        </ul>
        <ul class="company_info">
            <li class="logo eb">
                <h3>{{ 'footer.copyright'|trans({}, 'footer') }}</h3>
                 <p>
                    {{ 'footer.denominazione'|trans({}, 'footer') }}<br>
                    {{ 'footer.indirizzo'|trans({}, 'footer') }}<br>
                    {{ 'footer.telefono'|trans({}, 'footer') }}<br>
                    {{ 'footer.fax_ordini'|trans({}, 'footer') }}<br>
                    {{ 'footer.email'|trans({}, 'footer') }}<br>
                    {{ 'footer.pec'|trans({}, 'footer') }}<br>
                    {{ 'footer.partita_iva'|trans({}, 'footer') }} | {{ 'footer.rea'|trans({}, 'footer') }}<br>
                    {{ 'footer.capitale'|trans({}, 'footer') }}<br>
                    <br>
                    _//We Develop!
                 </p>
            </li>
        </ul>
        <div class="clearer ten"></div>
    </div>
</footer>
