<section class="left" style="width: 288px; margin-right: -288px;">
    <article class="lps-tab no-margin">
        {#<ul class="tab-menu tab-listing">
            <li><a href="#" class="defaulttab active" rel="tab-cer">Indice CER - rifiuti</a></li>
        </ul>#}
        <section class="tab-content-listing tab-content-lps" id="tab-cer">
                <h4 class="padding-3 ">Classe <span class="button-cer-code-small ">{{ classe.codice }}</span></h4>
                <p class="padding-3">{{ classe.descrizione|capitalize }}</p>
            <article class="margin-top-10">
                <h4 class="cer-class padding-3 rounded-3">Codice cer di sottoclasse <span class="button-cer-code-small right">{{ sottoclasse.codice }}</span></h4>
                <p class="padding-3 margin-bottom-10">{{ sottoclasse.descrizione|capitalize }}</p>
                </article>
            <article class="margin-top-10">
                <h4 class="cer-class padding-3 rounded-3 margin-bottom-5">Altri codici CER di questa classe</h4>
                <div class="masonry clearfix margin-top-5">
                {% for cer in sottoclassi %}
                    {% if cer.sottoclasse != '00' %}
                        {% if cer.codice == sottoclasse.codice %}{% else %}<a href="{{ path('es_cer_categorie', {'slug': cer.slug}) }}" class="box-light rounded-3 gradient-medium left tags tiptip" title="{{ cer.descrizione|capitalize }}">CER {{ cer.codice }}</a>{% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            </article>
        </section>
    </article>
</section>