<section class="margin-10" >
    <section class="fixed-width padding-10 clearfix gradient-light shadow rounded-5" style="width: 450px;">
        <h1>Cambia Password</h1> 
        <div class="clearer ten"></div>
        <div class="hr-light"></div>
        <div class="clearer ten"></div>
        <div class="form-default">
            <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} id="form_cambia_password" method="POST" class="fos_user_resetting_reset p_input recover-form">
                <div class="form-section">
                    {{ form_errors(form) }}
                    {#{ form_widget(form_password) }#}
                    <table>
                        <tr>
                            <td>{{ form_label(form.plainPassword.first) }}</td>
                            <td>{{ form_errors(form.plainPassword) }}{{ form_widget(form.plainPassword.first) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form.plainPassword.second) }}</td>
                            <td>{{ form_widget(form.plainPassword.second) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_rest(form) }}</td>
                            <td><button type="submit" class="button-orange" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>        </td>
                        </tr>
                    </table>
                </div>
            </form>
            <a href="{{path('op_sr_my')}}"><p style="display: none"  class="smaller" id="redirect_showroom">Vai al tuo showroom</p></a>
        </div>
    </section>
</section>