{% set footer = 'corporate' %}
{% set menu_marker = 'help' %}
{% extends "::base.html.twig" %}
{% block bodyclass %}showroom-page{% endblock %}
{% block title %}EcoSeekr CerMaps - Stats{% endblock %}
{% block description %}Osserva le statistiche in tempo reale delle richieste e delle visite sulla CerMaps{% endblock %}
{% block keywords %}statistiche, tempo reale, navigatori, utenti, richieste, cermaps, ecoseekr{% endblock %}
{% block javascript %}
    {% javascripts
        
        '@ESWebBundle/Resources/public/js/stats_node.js'
   %}   
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
    
{% block javascript_ready %}
    $.backstretch("/bundles/esweb/images/bg_generic.jpg", {speed: 1500});
    marker_pos('#menu_help');
{% endblock %}
    
{% block content %}
    <section id="header-tab" class="relative">
        <div class="fixed-width clearfix">
            {#<span class="absolute tiptip" title="utente registrato in data {{showroom.intestazione.created_at|date("d/m/Y")}}" style="right: 0; top: 0;" ><img src="{{ asset('/images/user-type-'~showroom.intestazione.account~'.png') }}" /></span>#}
            <h2 class="text-shadow">{{ 'menu.su_di_noi'|trans({}, 'menu') }}</h2>
            <h4 class="text-shadow normal">{{ 'menu.vision'|trans({}, 'menu') }}</h4>
        </div>
    </section>
    <section class="fixed-width corporate box no-border shadow clearfix rounded-5 no-padding padding-top-10 padding-bottom-10" id="tab_container">
        <section class="coldx left no-margin margin-left-10">
            {% include 'ESWebBundle:Corporate:commons/corporateMenu.html.twig' %}
        </section>
        <section class="colsx right no-margin margin-right-10">
            <h3><strong>Niente è di più efficace</strong> di <strong>EcoSeekr</strong> per farti conoscere ed acquisire nuovi clienti ed opportunità dal web se sei un operatore del settore ambiente e rifiuti!</h3>
            <div class="clearer"></div>
            <div class="hr-light"></div>
            <div class="clearer ten"></div>
            <div class="relative">
                <div class="absolute block normal no-margin text-white text-shadow rounded-5 shadow text-center gradient-dark" style="background: #999; top: 10px; left: 10px; padding: 10px; z-index: 100">
                <p class="normal no-margin no-padding" style="font-size: 10px; line-height: 1.5em;">visitatori attivi sul sito</p>
                <h1 class="normal no-margin no-padding" style="font-size: 70px; line-height: .9em;" id="utenti"></h1>
                </div>
                {{ google_map_container(map) }}
                {{ google_map_css(map) }}
                {{ google_map_js(map) }}
            
            </div>
            <section class="table">  
               {# <section class="table-row">
                    <section class="table-cell padding-top-15 padding-bottom-15 text-center ">
                            <h3 class="main-title no-margin text-left">In questo momento ci sono:</h3>
                            <h1 class="normal no-margin no-padding text-grey" style="font-size: 70px;" id="utenti"></h1>
                            <p>visitatori attivi sul sito</p>
                            
                            <span class="text-small inline-block text-strong margin-5"><span style="width: 8px; height: 8px; display: inline-block; background: #058DC7;"></span> <strong>NUOVI</strong></span>  <span class="text-small inline-block text-strong margin-5"><span style="width: 8px; height: 8px; display: inline-block; background: #50B432;"></span> <strong>DI RITORNO</strong></span>
                            <div style="width: 95%;display: inline-block;">
                                <div class="left rounded-5-left text-white shadow" style="width: 79%; padding: 3px 0; display: inline-block; background: #058DC7;">80%</div>
                                <div class="right rounded-5-right text-white shadow" style="width: 20%; padding: 3px 0;  display: inline-block; background: #50B432;">20%</div>
                            </div>
                    </section>
                    <section class="table-cell padding-top-15 padding-bottom-15">
                        <article class="article-point ">
                            <h3 class="main-title no-margin">Provenenti da:</h3>
                            <div class="clearer"></div>
                            <div class="hr-light"></div>
                            <div class="clearer"></div>
                            
                        </article>
                    </section>
                </section>#}
                <section class="table-row">
                    <section class="table-cell padding-top-15 padding-bottom-15">
                        <article class="article-point ">
                            <h3 class="main-title no-margin">Ultime richieste CER:</h3>
                            <div class="clearer"></div>
                            <div class="hr-light"></div>
                            <div class="clearer"></div>
                            {% render url('stats_last', {'area': 'cer', 'n': 7}) %}                        
                        </article>
                    </section>
                    <section class="table-cell padding-top-15 padding-bottom-15">
                        <article class="article-point ">
                            <h3 class="main-title no-margin">Ultime Aziende ricercate:</h3>
                            <div class="clearer"></div>
                            <div class="hr-light"></div>
                            <div class="clearer"></div>
                            {% render url('stats_last', {'area': 'showroom', 'n': 7}) %}
                        </article>
                    </section>
                </section>
            </section>
            <h3 class="main-title no-margin">Ultime Aziende ricercate:</h3>
            [grafico]
        </section>
    </section>
{% endblock %}