<section class="clearfix margin-10">
    <div class="clearfix left no-margin">
        <p class="text-lightblue" style="font-size: 18px;">Scegli i codici CER</p>
        <div class="clearer"></div>
        <div class="hr-light margin-top-5 margin-bottom-5"></div>
        <div class="clearer"></div>
        <article class="all_draggable">
            <div class="styled-select">
                <select id="provenienze_cer">
                {% if not open %}
                    <option value="">Scegli le classi di CER che gestisci.</option>
                {% endif %}
                {% for cer in cer_provenienza %}
                    <option id="opt_{{ cer.classe }}" value="draggable_{{ cer.classe }}">[{{ cer.codice }}] {{ cer.descrizione }}</option>
                {% endfor %}
                </select>
            </div>
        </article>
    </div>
</section>
<div id="hide-drag" {% if not open %}style="display: none;"{% endif %}>
    <section class="colsx margin-left-10" style="width: 400px;">
        <p class="text-lightblue" style="font-size: 14px;">Seleziona...</p>
        <div class="clearer"></div>
        <div class="hr-light margin-top-5 margin-bottom-5"></div>
        <div class="clearer"></div> 
        <p>Scegli gli indici CER e trascinali nel riquadro a destra.</p>
        <article class="all_draggable">
            <div class="clearer ten loader" style="position: relative; width: 50px; top: 20px;"></div>    
            {% for cer in cer_provenienza %}
                <div class="div_drag draggable_container draggable{% if not loop.first %} no-display{% endif %}" id="draggable_{{ cer.classe }}">
            </div>
            {% endfor %}
        </article>
    </section>
    <section class="coldx margin-right-10" style="width: 350px;" >
        <section class="hand-drag">Trascina nel riquadro successivo</section>
        <section>
            <p class="text-lightblue" style="font-size: 14px;">Trascina quì...</p>
            <div class="clearer"></div>
            <div class="hr-light margin-top-5 margin-bottom-5"></div>
            <div class="clearer"></div> 
            <p><a href="#riepilogo_cer" class="fancybox">Hai selezionato <strong class="numero_cer">0 indici CER</strong> da <strong class="numero_provenienze">0 classi</strong></a> | <a href="javascript:void(0);" class="drop_list">Cancella tutto</a></p>
        </section>
        <div class="ten"></div>
        <section class="droppable">
            <ul id="droppable" class="cer_ul">
                <li class="placeholder"></li>
            </ul>
        </section>
        <div class="ten"></div>
        <p><a href="#riepilogo_cer" class="fancybox">Hai selezionato <strong class="numero_cer">0 indici CER</strong> da <strong class="numero_provenienze">0 classi</strong></a> | <a href="javascript:void(0);" class="drop_list">Cancella tutto</a></p>
    </section>
    <div class="clearer ten"></div>
    <section class="clearfix rounded-5 mess cyan margin-10" >
        <div class="form_voice clearfix right">
            <form class="p_input" action="{{ action }}" method="post" id="rdo_form">
                <input type="hidden" name="cer" id="cer_json" value="" />
                <button class="button-orange large" id="confirm" type="button">Conferma le scelte</button>
            </form>
        </div>
    </section>
</div>
{# ##### LIGHT WINDOW RIEPILOGO CATEGORIA ##### #}
<div id="riepilogo_cer" class="no-display p_input">
    <section class="header_rb"><h1>Panoramica dei CER che hai selezionato</h1></section>
    <section id="content" class="clearfix regbox">
        <section class="colmono riepilogo_cer">
            <ul id="riepilogo_cer_list">

            </ul>
        </section>
    </section>
</div>
<script type="text/javascript">
    {% for cer in showroom.cer %}
    selezionaCer(".droppable ul", "s_{{ cer.id }}", "<span class=\"icon_cer button-cer-code \">{{ cer.codice }}</span>{{ cer.descrizione }}", {{ cer.classe }});
    {% endfor %}

        $(function(){
        $(".tips").tipTip({
            delay: 0,
            content: 'Questo è un servizio che hai aggiunto'
        });
    });
</script>