<div class='form_voice_compact  clearfix left margin-right-10'>
    {{ form_label(form.indirizzo) }}
    <i>ad es. via Carlo cattaneo, 5</i>
    {{ form_errors(form.indirizzo) }}
    {{ form_widget(form.indirizzo) }}
</div>    
<div class='form_voice_compact clearfix left'>
    {{ form_label(form.geo) }}
    <i>ad es. Livorno</i>
    {{ form_errors(form.geo) }}
    {{ form_widget(form.geo) }}
</div>