<div class='form_voice_compact clearfix left'>    
    {{ form_label(form.from_email) }}
    <i>ad es. mrossi@esempio.it</i>
    {{ form_errors(form.from_email) }}
    {{ form_widget(form.from_email) }}
</div>
<div class='form_voice_compact clearfix right'>    
    {{ form_label(form.telefono) }}
    <i>ad es. 02 48915666</i>
    {{ form_errors(form.telefono) }}
    {{ form_widget(form.telefono) }}
</div>