{% extends 'EcoSeekrWebBundle::admin.html.twig' %}

{% block title %}
EcoSeekr - ES\RichiestaBusinessPlus
{% endblock %}

{% block content %}
<h1>Modifica ES\RichiestaBusinessPlus</h1>

<form action="{{ path('business_plus_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Salva</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('business_plus') }}">
            Torna indietro
        </a>
    </li>
    <li>
        <form action="{{ path('business_plus_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Elimina</button>
        </form>
    </li>
</ul>
{% endblock %}
