<li><a href="{{ path('terms_cond')|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}">{{ 'menu.terms_cond'|trans({}, 'menu') }}</a></li>
<li><a href="{{ path('privacy')|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}">{{ 'menu.privacy'|trans({}, 'menu') }}</a></li>
{#<li><a href="#">{{ 'menu.modulo_ordine'|trans({}, 'menu') }}</a></li>#}