<li><a href="{{ path('come_funziona')|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}" >{{ 'menu.come_funziona'|trans({}, 'menu') }}</a></li>
<li><a href="{{ path('scegliere_ecoseekr')|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}" >{{ 'menu.scegliere_ecoseekr'|trans({}, 'menu') }}</a></li>
<li><a href="{{ path('costi_funzionalita')|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}" >{{ 'menu.costi_funzionalita'|trans({}, 'menu') }}</a></li>
<li><a href="{{ path('statistiche')|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}">{{ 'menu.statistiche'|trans({}, 'menu') }}</a></li>