<li><a href="{{ path('vision')|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}" >{{ 'menu.vision'|trans({}, 'menu') }}</a></li>
<li><a href="{{ path('collaboratori')|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}" >{{ 'menu.collaboratori'|trans({}, 'menu') }}</a></li>
<li><a href="{{ path('partners')|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}" >{{ 'menu.partners'|trans({}, 'menu') }}</a></li>
<li><a href="{{ path('dove_siamo')|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}" >{{ 'menu.dove_siamo'|trans({}, 'menu') }}</a></li>
{#<li><a href="{{ path('info') }}" >{{ 'menu.info'|trans({}, 'menu') }}</a></li>#}