<section class="title_dashboard clearfix gradient-lightmedium padding-10">
    <p class="breadcrumbs neutro" style="top: 4px;"><a href="{{ path('es_'~route) }}"><span class="cer-rec shadow" title="Indice generale dei {% if tipo == 'recnp' %}{{ 'recuperabili.recnp'|trans({}, 'ESCerMapBundle') }}{% else %}{{ 'recuperabili.recp'|trans({}, 'ESCerMapBundle') }}{% endif %}">Indice generale dei {% if tipo == 'recnp' %}{{ 'recuperabili.recnp'|trans({}, 'ESCerMapBundle') }}{% else %}{{ 'recuperabili.recnp'|trans({}, 'ESCerMapBundle') }}{% endif %}</span></a><strong> {{ 'recuperabili.sm_rec'|trans({}, 'ESCerMapBundle') }} di {% if tipo == 'recnp' %}{{ 'recuperabili.recnp'|trans({}, 'ESCerMapBundle') }}{% else %}{{ 'recuperabili.recp'|trans({}, 'ESCerMapBundle') }}{% endif %}</strong></p>
    <form style="position: absolute; top: 8px; right: 8px;" onsubmit="return false;">
        <section class="search-mess-area clearfix">
            <input type="text" id="q_lps" class="placeholder" name="q_lps" value="" placeholder="Cerca un rifiuto">
        </section>
    </form>
</section>