<section class="clearfix relative padding-10">
    <p class="text-lightblue hover inline-block text-small" id="showcer">+ lista estesa codici cer</p>
    <div id="cerlist" style="display: none;">
    <ul class="default_ul">
    {% for cer in cers %}
            {% if cer.sottoclasse == '00' %}
            <li class="margin-left-50"><p class="relative" style="margin-left: 50px"><span class="text-red absolute" style="left: -45px;">{{cer.codice}}</span><a href="#{{cer.codice}}"{#href="{{ path('es_cer_sottoclassi', {'slug': cer.slug})|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}" target="_blank"#}>{{cer.descrizione}}.</a></p></li>
            {% endif %}
    {% endfor %}
    </ul>
    <div class="clearer twenty"></div>
    <ul class="default_ul">
    {% for cer in cers %}
            {% if cer.sottoclasse == '00' %}
            <li class="relative"><a class="absolute no-text" style="top: -80px;" name="{{cer.codice}}"></a><br><h3 class="text-lightblue relative"><span class="text-red absolute" style="left: 50px; top: 10px;">{{cer.codice}}</span><a href="http://www.ecoseekr.it{{ path('es_cer_sottoclassi', {'slug': cer.slug})|replace({'/app_cersite.php': ''}) }}" target="_blank" style="display: inline-block; padding-left: 110px; padding-top: 10px;"> {{cer.descrizione}}.</a></h3></li>
            {% elseif cer.categoria == '00' %}
                <li class="margin-left-50 margin-top-10"><p class="relative" style="margin-left: 60px"><span class="text-red absolute" style="left: -55px;">{{cer.codice}}</span><a href="http://www.ecoseekr.it{{ path('es_cer_categorie', {'slug': cer.slug})|replace({'/app_cersite.php': ''}) }}" target="_blank">{{cer.descrizione}}.</a></p></li>
            {% else %}
                <li class="no-padding margin-left-50 margin-bottom-5 text-small"><p class="relative" style="margin-left: 60px"><span class="text-red absolute" style="left: -49px;">{{cer.codice}}{% if cer.pericoloso %}*{% endif %}</span><a href="http://www.ecoseekr.it{{ path('es_cer_cer', {'slug': cer.slug})|replace({'/app_cersite.php': ''}) }}" target="_blank">{{cer.descrizione}}.</a></p></li>
            {% endif %}
    {% endfor %}
    </ul>
    </div>
</section>
<script>
    $('#showcer').click(function(){
        $('#cerlist').toggle();
    });
</script>
        


